.jumbotron{
    background-color: yellowgreen;
    color: black;
    text-transform: uppercase;
    text-align: center;

    
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1{
    font-weight: 500;
    color: white;
    text-shadow:  -3px 2px 2px #000;
}

.card-hotel{
     /* Cuanto de ancho queremos que tenda el elemento
        1= la propiedad flex grow se mantendra intacta
        2= cada item ocupara hasta el doble del ancho
        150px = es flex basis especifica cual es el ancho definido
     */
    flex: 1 250px;
    /* Al definir el padding asi comenzara por el top
    y se movera en cada lado como el reloj  */
    padding: 5px 6px 6px 5px;
    margin-top: 7px;
    justify-content: space-between;
}

.btn-reserva{
    width: 100%;
}

.footer-address-icon{
    padding: 5px 4px;
}

footer{
    padding: 7px;
    background-color: yellowgreen;
    margin-top: 10px;

    bottom: 0;
}

footer a{
    text-decoration: none;
    color: black;
}














