$yellow : #ffffff;

@mixin margene ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    text-transform: uppercase;
    text-align: center;

    @include margene(12, 12);

    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1{
    font-weight: 500;
    color: white;
    text-shadow:  -3px 2px 2px #000;
}

.card-hotel{
    flex: 1 250px;
    padding: 5px 6px 6px 5px;
    margin-top: 7px;
    justify-content: space-between;
}

.btn-reserva{
    width: 100%;
}

.footer-address-icon{
    padding: 5px 4px;
}

footer{
    padding: 7px;
    background-color: yellowgreen;
    margin-top: 10px;

    bottom: 0;
}

footer a{
    text-decoration: none;
    color: black;
}






























